---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">首页</HeaderLink>
			<HeaderLink href="/blog">博客</HeaderLink>
			<HeaderLink href="/about">关于我</HeaderLink>
		</div>
		<div class="social-links">
			<div	class="social-icon" id="wechat-icon" onclick="toggleWechat()">
				<span class="sr-only">去访问 徐飞 的 微信</span>
				<svg viewBox="0 0 24 24" aria-hidden="true" width="32" height="32" 
					><path
						fill="currentColor"
						d="M12 2.25A9.75 9.75 0 0 0 2.25 12c0 1.92.54 3.72 1.48 5.25L2.25 21l3.75-.98a9.71 9.71 0 0 0 6 2.23 9.75 9.75 0 0 0 0-19.5zm-3.75 7.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm7.5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
						style="transition: all 0.3s ease"
					></path></svg
				>
			</div>
			<div class="social-icon" id="qq-icon">
				<span class="sr-only">去访问 徐飞 的 QQ</span>
				<svg viewBox="0 0 1024 1024" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M824.8 613.2c-16-51.4-34.4-94.6-62.7-165.3C766.5 262.2 689.3 112 511.5 112 331.7 112 256.2 265.2 261 447.9c-28.4 70.8-46.7 113.7-62.7 165.3-34 109.5-23 154.8-14.6 155.8 18 2.2 70.1-82.4 70.1-82.4 0 49 25.2 112.9 79.8 159-26.4 8.1-85.7 29.9-71.6 53.8 11.4 19.3 196.2 12.3 249.5 6.3 53.3 6 238.1 13 249.5-6.3 14.1-23.8-45.3-45.7-71.6-53.8 54.6-46.2 79.8-110.1 79.8-159 0 0 52.1 84.6 70.1 82.4 8.5-1 19.5-46.4-14.5-155.8z"
						style="transition: all 0.3s ease;"
					></path></svg
				>
			</div>
			<a href="https://github.com/Fly-Xu-cmd" target="_blank">
				<span class="sr-only">去访问 徐飞 的 GitHub 仓库</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
					></path></svg
				>
			</a>
		</div>
		<div id="wechat-qrcode-box" class="wechat-qrcode-box hidden">
			<img class="wechat-qrcode" src="../../public/weChat/wechat-qrcode.jpg" alt="微信二维码" />
		</div>
		<div id="qq-qrcode-box" class="qq-qrcode-box hidden">
			<img class="qq-qrcode" src="../../public/QQ/qq-qrcode.jpg" alt="QQ二维码" />
		</div>
	</nav>
</header>

<script>
	const wechatQrcodeBox = document.getElementById('wechat-qrcode-box')
	const wechatIcon = document.getElementById('wechat-icon')
	const qqIcon = document.getElementById('qq-icon')
	const qqQrcodeBox = document.getElementById('qq-qrcode-box')
	wechatIcon?.addEventListener('click',()=>{
		wechatQrcodeBox?.classList.toggle('hidden')
	})
	qqIcon?.addEventListener('click',()=>{
		qqQrcodeBox?.classList.toggle('hidden')
	})
	qqQrcodeBox?.addEventListener('click',(e)=>{
		if(e.target === qqQrcodeBox){
			qqQrcodeBox.classList.toggle('hidden')
		}
		e.stopPropagation()
	},false)
	wechatQrcodeBox?.addEventListener('click',(e)=>{
		if(e.target === wechatQrcodeBox){
			wechatQrcodeBox.classList.toggle('hidden')
		}
		e.stopPropagation()
	},false)
</script>

<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}

	.social-icon{
		padding: 1em 0.5em;
		cursor: pointer;
	}

	.wechat-qrcode-box,.qq-qrcode-box{
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, 0.5);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 100;
	}

	.wechat-qrcode,.qq-qrcode{
		width: auto;
		max-height: 70%;
		border-radius: 12px;

	}

	
	.hidden{
		display: none;
	}
</style>
